@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&family=Poppins:wght@100;300;500&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    font-weight: 300;
}

body {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

section.table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

section.table div.data {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

section.table div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

section.table div.header span {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px;
    font-weight: 700;
}

section.table div.data div.col {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
}

section.table div.data div.col span {
    background-color: #3f92ff;
    padding: 5px;
}

section.table div.data div.col span:nth-child(odd) {
    background-color: #0472d3;
    color: #fff;
}
